PORT=3000
AUTH_URL=http://localhost:4000
GOALS_URL=http://localhost:4001
HABITS_URL=http://localhost:4002
FINANCE_URL=http://localhost:4003
JOURNAL_URL=http://localhost:4004
VAULT_URL=http://localhost:4005
